body{
    background-color: grey;
}

header{
    background-color: bisque;
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

address{
    text-align: center;
}

.nombre{
    font-size: xx-large;
    font-style: oblique;
    text-align: center;
    font-weight: bold;
}

main{
    background-color: gray;
    margin-bottom: 0px;
    border-bottom: 0px;
}

footer{
    background-color: darkcyan;
    margin-top: 0px;
    border-top: 0px;
}